
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply px-4 py-2 rounded-lg font-medium inline-flex items-center justify-center tracking-tight;
  }

  .btn-primary {
    @apply bg-black text-white;
  }

  .btn-text {
    @apply text-black bg-transparent;
  }

  .logo-ticker-image {
    @apply h-12 w-auto;
  }

  .tag {
    @apply text-sm inline-flex border border-[#222]/10 px-3 py-1 rounded-lg tracking-tight;
  }

  .section-title {
    @apply text-center text-3xl md:text-[54px] md:leading-[60px] font-bold tracking-tighter bg-gradient-to-b from-black to-[#001E80] text-transparent bg-clip-text;
  }

  .section-description {
    @apply text-center text-[22px] leading-[30px] tracking-tight text-[#010D3E];
  }

  .section-heading {
    @apply max-w-[540px] mx-auto;
  }

  .card {
    @apply p-10 border border-[#222222]/10 rounded-3xl shadow-[0_7px_14px_#EAEAEA] max-w-xs w-full;
  }

  .blur-background {
    backdrop-filter: blur(7px); /* Adjust blur radius as needed */
    background: rgba(255, 255, 255, 0.3); /* Optional: semi-transparent background for better contrast */
    padding: 1rem; /* Adjust padding as needed */
    border-radius: 0.5rem; /* Optional: for rounded corners */
  }
  .logo-ticker-image {
    width: auto;
    height: 40px; /* or any size you prefer */
  }
  /*.glass-effect {
    background: rgba(226, 225, 225, 0.2); 
    border-radius: 15px; 
    backdrop-filter: blur(10px); 
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
    border: 1px solid rgba(255, 255, 255, 0.3);
    max-width: 80%; 
    padding: 2rem; 
  }*/
}
